  #logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Login page styles */
  #loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); 
    background-color: #e6e6e6;
    padding: 50px;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  #text {
    font-weight: 500;
    margin-top: 10px;
  }
  
  #email,#pass{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    border: 3px solid orange;
  }
  
  #lower {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  #logInBtn{
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
  }
  #signInBtn {
    background-color: white;
    color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
  }
  
  #loginText,
  #signinText {
    font-weight: bold;
  }
  
